<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PakJup.com</title>
    <!-- Bootstrap Core CSS -->
    <script src="js/bundle.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">
    <link rel="stylesheet" href="css/advance-dropdown-search.css" type="text/css">
    <link rel="stylesheet" href="css/template.css" type="text/css">
    <link rel="stylesheet" href="css/circular.css" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<style>
ul.accordion{
    list-style:none;
    font-family: Cambria, serif;
    font-size: 16px;
    font-style: italic;
    line-height: 1.5em;
}
ul.accordion li{
    left:100px;
    float:left;
    width:100px;
    height:350px;
    display:block;
    border-right:2px solid #fff;
    border-bottom:2px solid #fff;
    background-color:#fff;
    background-repeat:no-repeat;
    background-position:center center;
    position:relative;
    overflow:hidden;
    cursor:pointer;
    -moz-box-shadow:1px 3px 15px #555;
    -webkit-box-shadow:1px 3px 15px #555;
    box-shadow:1px 3px 15px #555;
}
ul.accordion li.bg1{
    background-image:url(/img/01.jpg);
}
ul.accordion li.bg2{
    background-image:url(/img/02.jpg);
}
ul.accordion li.bg3{
    background-image:url(/img/03.jpg);
}
ul.accordion li.bg4{
    background-image:url(/img/04.jpg);
}
ul.accordion li.bleft{
    border-left:2px solid #fff;
}
ul.accordion li .heading{
    background-color:#fff;
    padding:10px;
    margin-top:60px;
    opacity:0.9;
    text-transform:uppercase;
    font-style:normal;
    font-weight:bold;
    letter-spacing:1px;
    font-size:14px;
    color:#444;
    text-align:center;
    text-shadow:-1px -1px 1px #ccc;
}
ul.accordion li .description{
    position:absolute;
    width:100px;
    height:175px;
    bottom:0px;
    left:0px;
    display:none;
}
ul.accordion li .description h2{
    text-transform:uppercase;
    font-style:normal;
    font-weight:bold;
    letter-spacing:1px;
    font-size:45px;
    color:#444;
    text-align:left;
    margin:0px 0px 15px 20px;
    text-shadow:-1px -1px 1px #ccc;
}
ul.accordion li .description p{
    line-height:14px;
    margin:10px 22px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.6em;
}
ul.accordion li .description a{
    position:absolute;
    bottom:5px;
    left:20px;
    text-transform:uppercase;
    font-style:normal;
    font-size:11px;
    text-decoration:none;
    color:#888;
}
ul.accordion li .description a:hover{
    color:#333;
    text-decoration:underline;
}

ul.accordion li .bgDescription{
    background:transparent url(/imf/bgDescription.png) repeat-x top left;
    height:340px;
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    display:none;
}
</style>
<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">PakJup.com</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <div class="col-md-7">
              <div class="input-group float-right margin-top-10" id="adv-search">
                  <input type="text" class="form-control" placeholder="Ketik disini untuk mencari" />
                  <div class="input-group-btn">
                      <div class="btn-group" role="group">
                          <div class="dropdown dropdown-lg">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title = "Pencarian lebih lanjut" aria-expanded="false"><span class="caret"></span></button>
                              <div class="dropdown-menu dropdown-menu-right" role="menu">
                                  <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                      <label for="filter">Kategori</label>
                                      <select class="form-control">
                                          <option value="0" selected>Kategori</option>
                                          <option value="1">Featured</option>
                                          <option value="2">Most Popular</option>
                                          <option value="3">Top Rated</option>
                                          <option value="4">Most Commented</option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                      <label for="filter">Daerah</label>
                                      <select class="form-control">
                                          <option value="0" selected>Daerah</option>
                                          <option value="1">Featured</option>
                                          <option value="2">Most Popular</option>
                                          <option value="3">Top Rated</option>
                                          <option value="4">Most Commented</option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                      <label for="contain">Pencarian</label>
                                      <input class="form-control" type="text" />
                                    </div>
                                    <button type="submit" class="btn btn-primary float-right"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                  </form>
                              </div>
                          </div>
                          <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-md-3" >
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/login">Masuk</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/signup">Daftar</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/info">Info</a>
                    </li>
                </ul>
            </div>
          </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class = "margin-top-80 min-height">
      <div class="container-fluid bg-3 text-center">
        <div class="row">
          <h3>Pak Jup akan siap buat nolongin kamu yang lagi bingung<br> Pilih langsung kategori yang kamu butuhkan</h3>
        </div>

        <div class = "row margin-top-80">
          <div class="container">
            <div class="col-md-12">
          <ul class="accordion" id="accordion">
              <li class="bg1">
                  <div class="heading">Guler</div>
                  <div class="bgDescription"></div>
                  <div class="description">
                      <h2>Guler</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                          ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                          reprehenderit in voluptate velit esse cillum dolore eu fugiat
                          nulla pariatur.</p>
                      <a href="#">more &rarr;</a>
                  </div>
              </li>
              <li class="bg2">
                  <div class="heading">Phillips</div>
                  <div class="bgDescription"></div>
                  <div class="description">
                      <h2>Phillips</h2>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                          quae ab illo inventore veritatis et quasi architecto beatae vitae
                          dicta sunt explicabo. </p>
                      <a href="#">more &rarr;</a>
                  </div>

              </li>
              <li class="bg3">
                  <div class="heading">Diamanti</div>
                  <div class="bgDescription"></div>
                  <div class="description">
                      <h2>Diamanti</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                          ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                          reprehenderit in voluptate velit esse cillum dolore eu fugiat
                          nulla pariatur.</p>
                      <a href="#">more &rarr;</a>
                  </div>

              </li>
              <li class="bg4 bleft">
                  <div class="heading">Meiklejohn</div>
                  <div class="bgDescription"></div>
                  <div class="description">
                      <h2>Meiklejohn</h2>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                          quae ab illo inventore veritatis et quasi architecto beatae vitae
                          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                          sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                          dolores eos qui ratione voluptatem sequi nesciunt.</p>
                      <a href="#">more &rarr;</a>
                  </div>

              </li>
              <li class="bg4 bleft">
                  <div class="heading">Meiklejohn</div>
                  <div class="bgDescription"></div>
                  <div class="description">
                      <h2>Meiklejohn</h2>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                          quae ab illo inventore veritatis et quasi architecto beatae vitae
                          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                          sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                          dolores eos qui ratione voluptatem sequi nesciunt.</p>
                      <a href="#">more &rarr;</a>
                  </div>

              </li>
              <li class="bg4 bleft">
                  <div class="heading">Meiklejohn</div>
                  <div class="bgDescription"></div>
                  <div class="description">
                      <h2>Meiklejohn</h2>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                          quae ab illo inventore veritatis et quasi architecto beatae vitae
                          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                          sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                          dolores eos qui ratione voluptatem sequi nesciunt.</p>
                      <a href="#">more &rarr;</a>
                  </div>

              </li>
              <li class="bg4 bleft">
                  <div class="heading">Meiklejohn</div>
                  <div class="bgDescription"></div>
                  <div class="description">
                      <h2>Meiklejohn</h2>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                          quae ab illo inventore veritatis et quasi architecto beatae vitae
                          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                          sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                          dolores eos qui ratione voluptatem sequi nesciunt.</p>
                      <a href="#">more &rarr;</a>
                  </div>

              </li>
              <li class="bg4 bleft">
                  <div class="heading">Meiklejohn</div>
                  <div class="bgDescription"></div>
                  <div class="description">
                      <h2>Meiklejohn</h2>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                          quae ab illo inventore veritatis et quasi architecto beatae vitae
                          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                          sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                          dolores eos qui ratione voluptatem sequi nesciunt.</p>
                      <a href="#">more &rarr;</a>
                  </div>

              </li>
          </ul>
        </div>
      </div>
        </div>
        <div class = "row margin-top-80">
          <div class="container">
            <div class="col-md-4">
              <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                                </span>Content</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                                            <span class="badge">42</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                                </span>Modules</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Invoices</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Shipments</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Tex</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                                </span>Account</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Change Password</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                                Delete Account</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                                </span>Reports</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                                </span>Content</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                                            <span class="badge">42</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                                </span>Modules</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Invoices</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Shipments</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Tex</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                                </span>Account</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Change Password</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                                Delete Account</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                                </span>Reports</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                                </span>Content</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                                            <span class="badge">42</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                                </span>Modules</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Invoices</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Shipments</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Tex</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                                </span>Account</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Change Password</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                                Delete Account</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                                </span>Reports</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        </div>
        <div class="row margin-top-80">
          <div class="col-md-3">
            <nav class="circular-menu">
              <div class="circle">
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
              </div>
              <a class = "menu-button" href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
            </nav>
          </div>
          <div class="col-md-3">
            <nav class="circular-menu">
              <div class="circle">
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
              </div>
              <a class = "menu-button" href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
            </nav>
          </div>
          <div class="col-md-3">
            <nav class="circular-menu">
              <div class="circle">
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
              </div>
              <a class = "menu-button" href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
            </nav>
          </div>
          <div class="col-md-3">
            <nav class="circular-menu">
              <div class="circle">
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
              </div>
              <a class = "menu-button" href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
            </nav>
          </div>
        </div>
        <br>
        <div class="row margin-top-100 margin-bottom-200">
          <div class="col-md-3">
            <nav class="circular-menu">
              <div class="circle">
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
              </div>
              <a class = "menu-button" href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
            </nav>
          </div>
          <div class="col-md-3">
            <nav class="circular-menu">
              <div class="circle">
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
              </div>
              <a class = "menu-button" href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
            </nav>
          </div>
          <div class="col-md-3">
            <nav class="circular-menu">
              <div class="circle">
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
              </div>
              <a class = "menu-button" href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
            </nav>
          </div>
          <div class="col-md-3">
            <nav class="circular-menu">
              <div class="circle">
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
                <a href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
              </div>
              <a class = "menu-button" href ="#"><img src="img/category/connection119.png" align ="middle" style="width:100%" alt="Image"></a>
            </nav>
          </div>
        </div>
        <div class="row bg-dark footer margin-top-100">
            <div class="container">
              <div class ="row text-align-left">
                <div class="float-left">
                  <p>PakJup.com</p>
                  <p>Hak cipta © 2015-2016 PakJup.com</p>
                </div>
                <div class="float-right">
                    <h2 class="section-heading">Butuh bantuan?</h2>
                    <p>Email kami ke <a href="mailto:your-email@your-domain.com">asdf@asdf.com</a></p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>

<script>
$(".circular-menu").hover(function(e) {
    $(this).find('.circle').toggleClass('open');
});
$(".circular-menu").each(function( index ) {
  var i = 0;
  var items = $(this).find('.circle').find('a');
  var l = items.length;
  items.each(function( index ) {
    items[i].style.left = (50 - 35*Math.cos(-0.5 * Math.PI - 2*(1/l)*i*Math.PI)).toFixed(4) + "%";
    items[i].style.top = (50 + 35*Math.sin(-0.5 * Math.PI - 2*(1/l)*i*Math.PI)).toFixed(4) + "%";
    i++;
  });
});
</script>

<script type="text/javascript">
    $(function() {
        $('#accordion > li').hover(
            function () {
                var $this = $(this);
                $this.stop().animate({'width':'250px'},500);
                $('.heading',$this).stop(true,true).fadeOut();
                $('.bgDescription',$this).stop(true,true).slideDown(500);
                $('.description',$this).stop(true,true).fadeIn();
            },
            function () {
                var $this = $(this);
                $this.stop().animate({'width':'100px'},1000);
                $('.heading',$this).stop(true,true).fadeIn();
                $('.description',$this).stop(true,true).fadeOut(500);
                $('.bgDescription',$this).stop(true,true).slideUp(700);
            }
        );
    });
</script>
