.margin-0{
  margin: 0px 0px 0px 0px !important;
}

.margin-top-3
{
    margin-top: 3px !important;
}

.margin-top-10
{
    margin-top: 10px !important;
}

.margin-top-15
{
    margin-top: 15px !important;
}

.margin-top-30
{
    margin-top: 30px !important;
}

.margin-top-60
{
    margin-top: 60px !important;
}

.margin-top-m30
{
    margin-top: 30px !important;
}

.margin-top-m140
{
    margin-top: -140px !important;
}

.margin-top-100
{
    margin-top: 100px !important;
}

.margin-left-1
{
    margin-left: 1px !important;
}

.margin-left-5
{
    margin-left: 5px !important;
}

.margin-right-20{
    margin-right: 20px !important;
}

.margin-right-40{
    margin-right: 40px !important;
}

.float-left
{
    float: left !important;
}

.float-right
{
    float: right !important;
}

.padding-0{
  padding: 0px 0px 0px 0px !important;
}

.padding-top-30
{
    padding: 30px 0px 0px 0px !important;
}

.padding-top-100
{
    padding: 100px 0px 0px 0px !important;
}

.padding-left-0
{
    padding-left: 0px !important;
}

.padding-bot-30
{
    padding: 0px 0px 30px 0px !important;
}

.spacing {
	padding-top:7px;
	padding-bottom:7px;
}

.middlePage {
	width: 680px;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.transparent{
  background-color:transparent;
}

.login-left-border{
  border-left:2px solid #f05f40;height:170px;
}

.sign-up-box{
  margin: 15px auto;
  border-top:2px solid #f05f40;height:400px;
  width : 500px;
}

.display-inline{
  	display: inline !important;
}

.footer-absolute {
  position:absolute;
  bottom: 0;
  width: 100%;
}

.footer {
  padding-bottom: 30px;
  padding-top: 30px;
  margin-top: 30px;
}

.middle-content{
  position: relative !important;
  top: 50% !important;
  height: 150px !important;
}

.height-200{
  height: 200px !important;
}

.height-350{
  height: 350px !important;
}

.text-align-right{
  text-align: right !important;
}

.text-align-left{
  text-align: left !important;
}

.secicon{
  margin-right: 20px !important;
}
